* {
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    /* Your mobile-specific styles here */
    /* Consider changing widths, positions, font sizes, etc. */
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0e6cc4;
    overflow-x: hidden;
}

.personaldet {
    position: relative;
    top: 15%;
    left: 10%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    z-index: 1;
    padding: 5%;
    height: 40%;
    background-color: white;
}

.personaldet h3 {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 120%;
}

.personaldet h4 {
    top: 20%;
    font-size: 100%;
    position: absolute;
    right: 88%;
    transform: translateX(-50%);
}

.fullname-cont {
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    width: 75%;
    top: 18%;
    left: 15%;
    z-index: 0;
    height: 10%;
}

.fullname-cont p {
    position: absolute;
    top: 10%;
    left: 2%;
}

.bday-cont {
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    width: 75%;
    top: 33%;
    left: 15%;
    z-index: 0;
    height: 10%;
}

.bday-cont p {
    position: absolute;
    top: 10%;
    left: 2%;
}

.seggs-cont {
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    width: 75%;
    top: 48%;
    left: 15%;
    z-index: 0;
    height: 10%;
}

.seggs-cont p {
    position: absolute;
    top: 10%;
    left: 2%;
}

.rel-cont {
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    width: 75%;
    top: 63%;
    left: 15%;
    z-index: 0;
    height: 10%;
}

.rel-cont p {
    position: absolute;
    top: 10%;
    left: 2%;
}

.civ-cont {
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    width: 75%;
    top: 78%;
    left: 15%;
    z-index: 0;
    height: 10%;
}

.civ-cont p {
    position: absolute;
    top: 10%;
    left: 2%;
}

.contactdet {
    position: relative;
    top: 20%;
    left: 10%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    z-index: 1;
    padding: 5%;
    height: 30%;
    background-color: white;
}

.contactdet h3 {
    position: absolute;
    top: 6%;
    left: 2%;
    font-size: 120%;
}

.contactdet h4 {
    top: 23%;
    font-size: 100%;
    position: absolute;
    right: 88%;
    transform: translateX(-50%);
}

.add-cont {
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    width: 75%;
    top: 22%;
    left: 15%;
    z-index: 0;
    height: 14%;
}

.add-cont p {
    position: absolute;
    top: 10%;
    left: 2%;
}

.guard-cont {
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    width: 75%;
    top: 42%;
    left: 15%;
    z-index: 0;
    height: 14%;
}

.guard-cont p {
    position: absolute;
    top: 10%;
    left: 2%;
}

.num-cont {
    position: absolute;
    background-color: lightgray;
    border-radius: 5px;
    width: 75%;
    top: 62%;
    left: 15%;
    z-index: 0;
    height: 14%;
}

.num-cont p {
    position: absolute;
    top: 10%;
    left: 2%;
}


/*waves****************************/


.box {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
}

.wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #0af;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
}

.wave.-three {
    animation: drift 7500ms infinite linear;
    position: fixed;
    background-color: #77daff;
}

.wave.-two {
    animation: drift 3000ms infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

/*LOADING SPACE*/

.contain {
    animation-delay: 4s;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background: #25a7d7;
    background: -webkit-linear-gradient(#25a7d7, #2962FF);
    background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

.icon:nth-child(3) img {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

.icon:nth-child(4) img {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s
}

.icon img {
    -webkit-animation: anim 2s ease infinite;
    animation: anim 2s ease infinite;
    -webkit-transform: scale(0, 0) rotateZ(180deg);
    transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0
    }
}

@keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0
    }
}