* {
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    /* Your mobile-specific styles here */
    /* Consider changing widths, positions, font sizes, etc. */
}

body,
html {
    height: 104%;
    margin: 0;
    padding: 0;
    background-color: #0e6cc4;
    overflow-x: hidden;
}

.prof_portal {
    position: absolute;
    top: 122px;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    /* Change the text color */
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
}

.container-form,
.container-form-right {
    position: absolute;
    top: 19%;
    z-index: 1;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 30%;
    height: 12em;
    /* Set the width */
    border-radius: 15px;
    /* Rounded corners */
}

.container-form {
    left: 18%;
    /* Adjust the left position */
    transform: translateY(-50%);
    transform: translateY(-10px);
    /* Adjust translateY to elevate the container slightly */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* Adjust the box shadow to complement the elevation */
}

.container-form-right {
    right: 10%;
    /* Adjust the right position */
    transform: translateY(-50%);
    transform: translateY(-10px);
    /* Adjust translateY to elevate the container slightly */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.container-form-right h3 {
    font-size: larger;
    font-weight: bolder;
    position: relative;
    top: -43px;
    /* Adjust this value to move the text further up */
}

.linerist {
    width: 100%;
    height: 3px;
    background-color: #0A4D98;
    /* Adjust line color */
    margin-top: -72px;
    /* Adjust distance between text and line */
    border-radius: 5px;
}

.linerist2 {
    width: 100%;
    height: 3px;
    background-color: #0A4D98;
    /* Adjust line color */
    margin-top: -73px;
    /* Adjust distance between text and line */
    border-radius: 5px;
}

.linerist3 {
    width: 100%;
    height: 3px;
    background-color: #0A4D98;
    /* Adjust line color */
    margin-top: -7%;
    /* Adjust distance between text and line */
    border-radius: 5px;
}

.linerist4 {
    width: 100%;
    height: 3px;
    background-color: #0A4D98;
    /* Adjust line color */
    margin-top: -7%;
    /* Adjust distance between text and line */
    border-radius: 5px;
}

.linerist5 {
    width: 100%;
    height: 3px;
    background-color: #0A4D98;
    /* Adjust line color */
    margin-top: -7%;
    /* Adjust distance between text and line */
    border-radius: 5px;
}

.linerist6 {
    position: relative;
    top: -2em;
    left: -30px;
    width: 383%;
    height: 3px;
    background-color: #0A4D98;
    /* Adjust line color */
    margin-top: 10px;
    /* Adjust distance between text and line */
    border-radius: 1px;
    background-color: white;
}

.membutton:hover {
    background-color: #8BBDF5;
    /* Adjust hover color as desired */
}

.membutton {
    position: absolute;
    width: 42%;
    top: -2em;
    right: 55%;
    border-radius: 20px;
    background-color: #0A4D98;
    /* Adjust as needed */
    color: white;
    cursor: pointer;
    padding: 47px;
    background-color: #0A4D98;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* Additional styles as needed */
}

.membutton i {
    color: white;
    position: relative;
    font-size: 25px;
    right: -38%;
}

.membutton h4 {
    color: white;
    font-weight: bold;
    font-size: medium;
    position: relative;
    right: -22%;
    top: 2px;
    margin-bottom: 0px;
}

.annbutton:hover {
    background-color: #8BBDF5;
    /* Adjust hover color as desired */
}

.annbutton {
    position: absolute;
    width: 42%;
    top: -2em;
    right: 3%;
    height: 2em;
    border-radius: 20px;
    background-color: #0A4D98;
    /* Adjust as needed */
    color: white;
    cursor: pointer;
    padding: 16%;
    background-color: #0A4D98;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* Additional styles as needed */
}

.annbutton i {
    color: white;
    position: relative;
    font-size: 25px;
    right: -30%;
    top: -20px;
}

.annbutton h4 {
    color: white;
    font-weight: bold;
    font-size: medium;
    position: relative;
    right: -5%;
    top: -18px;
    text-align: center;
}

#calendar {
    height: 300px;
    /* Adjust the height as per your preference */
    max-width: 100%;
    /* Ensure the calendar is responsive within its container */
    margin: 0 auto;
    /* Center the calendar within its container */
}

.menucont {
    position: absolute;
    left: 18%;
    top: 22em;
    border-radius: 15px;
    width: 30%;
    height: 430px;
    /* Match the height of the calendar */
    background-color: white;
    /* Set the background color to white */
    z-index: 1;
    /* Move the white container behind the calendar */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.profcont:hover {
    background-color: #8BBDF5;
    /* Adjust hover color as desired */
}

.profcont {
    position: absolute;
    width: 42%;
    top: -1em;
    right: 51%;
    border-radius: 20px;
    background-color: #0A4D98;
    /* Adjust as needed */
    color: white;
    cursor: pointer;
    padding: 58px;
    background-color: #0A4D98;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* Additional styles as needed */
}

.profcont i {
    color: white;
    position: relative;
    font-size: 25px;
    right: -33%;
}

.profcont h4 {
    color: white;
    font-weight: bold;
    font-size: medium;
    position: relative;
    right: -17%;
    top: 2px;
    margin-bottom: 0px;
}

.subhandlecont:hover {
    background-color: #8BBDF5;
    /* Adjust hover color as desired */
}

.subhandlecont {
    position: absolute;
    width: 42%;
    top: -1em;
    right: 7%;
    border-radius: 20px;
    background-color: #0A4D98;
    /* Adjust as needed */
    color: white;
    cursor: pointer;
    padding: 15%;
    background-color: #0A4D98;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* Additional styles as needed */
}

.subhandlecont i {
    color: white;
    position: relative;
    font-size: 25px;
    right: -38%;
    top: -10px;
}

.subhandlecont h4 {
    color: white;
    font-weight: bold;
    font-size: medium;
    position: absolute;
    right: 16%;
    top: 86px;
    margin-bottom: 0px;
}

.gradescont:hover {
    background-color: #8BBDF5;
    /* Adjust hover color as desired */
}

.gradescont {
    position: absolute;
    width: 42%;
    top: 185px;
    right: 51%;
    border-radius: 20px;
    background-color: #0A4D98;
    /* Adjust as needed */
    color: white;
    cursor: pointer;
    padding: 15%;
    background-color: #0A4D98;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* Additional styles as needed */
}

.gradescont i {
    color: white;
    position: relative;
    font-size: 25px;
    right: -30%;
    top: -10px;
}

.gradescont h4 {
    color: white;
    font-weight: bold;
    font-size: medium;
    position: absolute;
    right: 35%;
    top: 86px;
    margin-bottom: 0px;
}

.prefcont:hover {
    background-color: #8BBDF5;
    /* Adjust hover color as desired */
}

.prefcont {
    position: absolute;
    width: 42%;
    top: 185px;
    right: 7%;
    border-radius: 20px;
    background-color: #0A4D98;
    /* Adjust as needed */
    color: white;
    cursor: pointer;
    padding: 15%;
    background-color: #0A4D98;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* Additional styles as needed */
}

.prefcont i {
    color: white;
    position: relative;
    font-size: 25px;
    right: -30%;
    top: -10px;
}

.prefcont h4 {
    color: white;
    font-weight: bold;
    font-size: medium;
    position: absolute;
    right: 27%;
    top: 86px;
    margin-bottom: 0px;
}

/*waves****************************/


.box {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
}

.wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #0af;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 7000ms infinite linear;
}

.wave.-three {
    animation: drift 7500ms infinite linear;
    position: fixed;
    background-color: #77daff;
}

.wave.-two {
    animation: drift 3000ms infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

/*LOADING SPACE*/

.contain {
    animation-delay: 4s;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    background: #25a7d7;
    background: -webkit-linear-gradient(#25a7d7, #2962FF);
    background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s
}

.icon:nth-child(3) img {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s
}

.icon:nth-child(4) img {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s
}

.icon img {
    -webkit-animation: anim 2s ease infinite;
    animation: anim 2s ease infinite;
    -webkit-transform: scale(0, 0) rotateZ(180deg);
    transform: scale(0, 0) rotateZ(180deg);
}

@-webkit-keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0
    }
}

@keyframes anim {
    0% {
        -webkit-transform: scale(0, 0) rotateZ(-90deg);
        transform: scale(0, 0) rotateZ(-90deg);
        opacity: 0
    }

    30% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    50% {
        -webkit-transform: scale(1, 1) rotateZ(0deg);
        transform: scale(1, 1) rotateZ(0deg);
        opacity: 1
    }

    80% {
        -webkit-transform: scale(0, 0) rotateZ(90deg);
        transform: scale(0, 0) rotateZ(90deg);
        opacity: 0
    }
}